<div>
    <div>
        <button class="btn btn-primary" ng-click="$ctrl.addNewRobot()">
            <span class="fa fa-plus"></span>
            Add robot
        </button>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th></th>
        </tr>
        <tr ng-repeat="robot in $ctrl.robots">
            <td>{{ robot.id }}</td>
            <td>
                <button class="btn btn-danger" ng-click="$ctrl.removeRobot(robot)">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>