<div>
    <div>
        <button class="btn btn-primary" ng-click="$ctrl.addNewRobot()">
            <span class="fa fa-plus"></span>
            Add robot
        </button>
    </div>

    <table class="table table-striped">
        <tr ng-repeat="robot in $ctrl.robots">
            <td double-hover="$ctrl.increasePrice(robot)">
                <robot-detail robot="robot"></robot-detail>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="$ctrl.removeRobot(robot)">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>